<p>
  <b>About this application :</b>
  This is a simple calculator which accepts two numbers for addition, subtraction, multiplication & division.
<br> <br> 
  <b>Application architecture  :</b>
  This is a three tier application with seperate front end, backend and database.
<br> <br>
  <b>Technologies used  :</b>
  Angular, .net core WebAPI, SQL
<br> <br>
  <b>Further enhancements  :</b>
  Authentication/ Authorization,
  Application event logging,
  Global exception handling,
  Database CRUD,
  Support alerts by email, text. 
  </p>
  