
  <h2>Butterfly Systems</h2> 

  
  <table>
    <b>Our Products</b>
    <tr>
      <th></th>
      <th></th>
    </tr>
    <tr>
    <td>Surgeon's Preference Card Suite</td>
    <td>Managing Surgeon’s Preference Cards & Surgery Setups</td>
    <tr>
    <td>Inventory Management Suite</td>
    <td>Managing Operating Theatre Inventory</td>
    <tr>
    <td>Anaesthetist’s Preference Card Suite</td>
    <td>Managing Anaesthetist’s Preference Cards & Setups</td>
    <tr>
    <td>Rebate Items Management Suite</td>
    <td>Managing Chargeable items and integrating with Patient Administration System and ERP</td>
    <tr>
    </table>

